


<div class="html_body">
<%= render('admin') %>
<table>
<tr>
	<th>Name</th>
	<th>Email</th>
<th>Account type</th>
	<th>Created at</th>
	<th>Last Logged in</th>
	<th></th>

</tr>	


<% @all_users.each do |user| %>
	<tr>
		<td><%= user.first_name %> <%= user.last_name %></td>
		<td><%= user.email %></td>
		<td><% if user.admin %>
				ADMIN
			<% else %>
				USER
			<% end %>
		</td>
		<td><%= user.created_at.to_formatted_s(:rcs822) %>
				<% days = ((Time.now - user.created_at.to_time)/1.day).round(0) %>
				(<% if days > 365 %>
					<%= (days/365).round(0) %> years
				<% else %>
					<%= days %> days
				<% end %> )
		</td>
		<td><%= user.last_sign_in_at.to_formatted_s(:rcs822)  %></td>
		<td>
			<% if user != current_user %>
				<% if user.admin %>
					<%= link_to "DEMOTE", "/user/#{user.id}/demote", method: "post", id: user.id, data: { confirm: "ARE YOU SURE you want to DEMOTE #{user.first_name} #{user.last_name} to a user? " } %>
				<% else %>
					<%= link_to "make ADMIN", "/user/#{user.id}/promote", method: "post", id: user.id, data: { confirm: "ARE YOU SURE you want to PROMOTE #{user.first_name} #{user.last_name} to be an admin? " } %>
				<% end %>
			<% end %>
		</td>
	</tr>


<% end %>


</table>

</div></div>