<body>

	
	<div class="html_body">
	<%= render 'admin' %>
		<table>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Likes</th>
			<th>Created By</th>
			<th>#Comments</th>
			<th>Ratings</th>
			<th>Created at</th>
			<th>Delete</th>

		</tr>	


		<% @all_howto.each do |howto| %>
			<tr>
				<td><%= howto.id %></td>
				<td><%= link_to "#{howto.title}", "/show/#{howto.id}", :target => "_blank" %></td>
				<td><%= howto.likes.size %></td>
				<td><%= howto.user.first_name %> <%= howto.user.last_name %></td>
				<td><%= howto.comments.size %></td>
				<td> <!-- Put the ratings here --> </td>
				<td><%= howto.created_at.to_formatted_s(:rcs822) %>
						<% days = ((Time.now - howto.created_at.to_time)/1.day).round(0) %>
						(<% if days > 365 %>
							<%= (days/365).round(0) %> years
						<% else %>
							<%= days %> days
						<% end %> )
				</td>
				<td><%= link_to "Delete", "/how_to/delete/#{howto.id}", method: :delete, data: {confirm: "Are you sure you want to delete how to #{howto.title}? \nThis will delete #{howto.comments.size} comments"} %></td>
			</tr>
		<% end %>


		</table>

	</div>

</body>