<h1>
	Welcome <%= @user.first_name %>
</h1>


<h4>Your HOW's</h4>
<% if @how_tos.empty? %>
	<p>You have no HOW's :( </p> 
	<%= link_to "Make one!", 'how_to/new' %>

<% else %>
	<ul>
		<% @how_tos.each do |how| %>
			<li><%= link_to how.title, "/show/#{how.id}" %>  
			<%= link_to 'Delete', "/how_to/delete/#{how.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</ul>


<% end %>


<br> <br>
<%= link_to "Make a HOWTO!", 'how_to/new' %> <br>
<%= link_to "Go Back", root_path %>