<div class="container">
	<div class="user-wrapper">
		<div class="row">		
			<div class="span2 text-center">
				<div class=""><%= image_tag @user.profile_picture.url(:thumb), class: "user-img img-circle grow" %></div>

			</div>

			<div class="span7">
				<div class="info">
						<ul>
							<h3> Welcome back, <%= @user.first_name %> </h3>
							<ul><i class="fa fa-user"></i>
								<%= @user.first_name %> <%= @user.last_name %>
								<% if @user.admin %>
									<span class="smaller">ADMINISTRATOR</span>
								<% end %>
					
							</ul>
					
							<ul><i class="fa fa-envelope-o"></i><%= @user.email %></ul>
					
							<ul> <strong>Been with us for: </strong>
								<% days = ((Time.now - @user.created_at.to_time)/1.day).round(0) %>
								<% if days > 365 %>
									<%= (days/365).round(0) %> years
								<% else %>
									<%= days %> days
								<% end %>
							</ul>
					
							<ul> <strong>Last signed in at:</strong> <%= @user.last_sign_in_at.to_formatted_s(:rcs822) %></ul>
					
						</ul>
					<%= link_to "/user/edit" do %>
				  		<i class="fa fa-pencil"></i> Edit your info
					<% end %>
					</div>
				</div>
	</div>
	</div>
	
			<hr>



			<div class="hows">
			<h4>Your HOW's</h4>
			<% if @how_tos.empty? %>
				<p>You have no HOW's :( </p> 
				<%= link_to "Make one!", 'how_to/new' %>

			<% else %>
				<ul>
					<% @how_tos.each do |how| %>
						<li><%= link_to how.title, "/show/#{how.id}" %>  
						<%= link_to 'Delete', "/how_to/delete/#{how.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				</ul>
			<% end %>
			<%= link_to "Make a HOWTO!", 'how_to/new' %> <br>
			</div>




			<br> <br>
			<%= link_to "Go Back", root_path %>



			<br>
			<br>

			<!-- list users to change status -->
			<div class="admin_only">
				<% if @user.admin %>
					<%= link_to "Change/view users", '/admin_panel/users', class: "btn btn-small"%>
					<%= link_to "Change/view howto's", 'admin_panel/howtos', class: "btn btn-small" %>
				<% end %>
			</div>
</div>

