<div class="html_body">

<h1> Welcome <%= @user.first_name %> </h1>

<div class="details">
	<div class="pp_thumb"><%= image_tag @user.profile_picture.url(:thumb), class: "profile_pic" %></div>
	<div class="info">
		<h4> Your info: </h4>
		<ul>
			<li> <strong>Your name:</strong> <%= @user.first_name %> <%= @user.last_name %>
				<% if @user.admin %>
					<span class="smaller">ADMINISTRATOR</span>
				<% end %>
	
			</li>
	
			<li> <strong>Email:</strong> <%= @user.email %></li>
	
			<br>
	
			<li> <strong>Been with us for: </strong>
				<% days = ((Time.now - @user.created_at.to_time)/1.day).round(0) %>
				<% if days > 365 %>
					<%= (days/365).round(0) %> years
				<% else %>
					<%= days %> days
				<% end %>
			</li>
	
			<li> <strong>Last signed in at:</strong> <%= @user.last_sign_in_at.to_formatted_s(:rcs822) %></li>
	
		</ul>
	</div>
<%= link_to "Edit your info", "/user/edit", class: "btn btn-medium edit_profile" %>
</div>






<div class="hows">
<h4>Your HOW's</h4>
<% if @how_tos.empty? %>
	<p>You have no HOW's :( </p> 
	<%= link_to "Make one!", 'how_to/new' %>

<% else %>
	<ul>
		<% @how_tos.each do |how| %>
			<li><%= link_to how.title, "/show/#{how.id}" %>  
			<%= link_to 'Delete', "/how_to/delete/#{how.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</ul>
<% end %>
<%= link_to "Make a HOWTO!", 'how_to/new' %> <br>
</div>




<br> <br>
<%= link_to "Go Back", root_path %>



<br>
<br>

<!-- list users to change status -->
<div class="admin_only">
	<% if @user.admin %>
		<%= link_to "Change/view users", '/admin_panel/users', class: "btn btn-small"%>
		<%= link_to "Change/view howto's", 'admin_panel/howto', class: "btn btn-small" %>
	<% end %>
</div>


</html>