<!-- Carousel
    ================================================== -->
    <div id="MissionBanner" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#MissionBanner" data-slide-to="0" class="active"></li>
            <li data-target="#MissionBanner" data-slide-to="1"></li>
            <li data-target="#MissionBanner" data-slide-to="2"></li>
            <li data-target="#MissionBanner" data-slide-to="3"></li>
            <li data-target="#MissionBanner" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active ad1">
                <div class="shadow-layer">
                    <div class="carousel-caption">
                        <h1>How to</h1>
                        <h1>Surf</h1>
                        <p></p>
                        <p>
                            <div class="random_container">
								<%= link_to "Find a random HOW", '/random', class: "btn btn-lg btn-clear" %> 
							</div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item ad2">
                <div class="shadow-layer">
                    <div class="carousel-caption">
                        <h1>How to</h1>
                        <h1>Shark Cage Diving</h1>
                        <p></p>
                        <p>
                            <div class="random_container">
								<%= link_to "Find a random HOW", '/random', class: "btn btn-lg btn-clear" %> 
							</div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item ad3">
                <div class="shadow-layer">
                    <div class="carousel-caption">
                        <h1>How to</h1>
                        <h1>Play African Drums</h1>
                        <p></p>
                        <p>
                            <div class="random_container">
								<%= link_to "Find a random HOW", '/random', class: "btn btn-lg btn-clear" %> 
							</div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item ad4">
                <div class="shadow-layer">
                    <div class="carousel-caption">
                        <h1>How to</h1>
                        <h1>Hike Lion's Head</h1>
                        <p></p>
                        <p>
                            <div class="random_container">
								<%= link_to "Find a random HOW", '/random', class: "btn btn-lg btn-clear" %> 
							</div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item ad5">
                <div class="shadow-layer">
                    <div class="carousel-caption">
                        <h1>More <a href="http://instagram.com/ixperience" target="_blank">@iXperience</a></h1>
                         <p></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#MissionBanner" data-slide="prev">
        	<i class="fa fa-chevron-left"></i>
        </a>
        <a class="right carousel-control" href="#MissionBanner" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    <!-- /.carousel -->


<div class="container wrapper">

	<div class="tops">
		<div class="top_liked">
			<h4>Top Likes:</h4>
			<ol>
				<% @most_likes.each do |max| %>
					<% next if max == nil %>
					<li>
						<div class="top_item">
							<div class="img"><%= link_to image_tag( max.steps.last.photo.url(:small)), "/show/#{max.id}"  %></div>
							<div class="text"><%= link_to "How to: \n#{max.title}", "/show/#{max.id}" %></div>
						</div>
					</li>
					<br>
				<% end %>
			</ol>
		</div>


		<div class="top_commented">
			<h4>Top comented:</h4>
			<ol>
				<% @most_commented.each do |max| %>
					<% next if max == nil %>
					<li>
						<div class="top_item">
							<div class="img"><%= link_to image_tag( max.steps.last.photo.url(:small)), "/show/#{max.id}"  %></div>
							<div class="text"><%= link_to "How to: \n#{max.title}", "/show/#{max.id}" %></div>
						</div>
					</li>
					<br>
				<% end %>
			</ol>
		</div>


		<div class="top_attempted">
			<h4>Top attempted:</h4>
			<ol>
				<% @most_attempts.each do |max| %>
					<% next if max == nil %>
					<li>
						<div class="top_item">
							<div class="img"><%= link_to image_tag( max.steps.last.photo.url(:small)), "/show/#{max.id}"  %></div>
							<div class="text"><%= link_to "How to: \n#{max.title}", "/show/#{max.id}" %></div>
						</div>
					</li>
					<br>
				<% end %>
			</ol>
		</div>


		<div class="latest">
			<h4>Latest:</h4>
			<ol>
				<% @latest.each do |max| %>
					<% next if max == nil %>
					<li>
						<div class="top_item">
							<div class="img"><%= link_to image_tag( max.steps.last.photo.url(:small)), "/show/#{max.id}"  %></div>
							<div class="text"><%= link_to "How to: \n#{max.title}", "/show/#{max.id}" %></div>
						</div>
					</li>
					<br>
				<% end %>
			</ol>
		</div>
	</div>

</div>

