<div class="html_body">

<div class="show_title mar-t30">
	<h2>How To <span class="title"><%= @howto.title %></span> <i class="fa fa-question fa-lg"></i></h2>
</div>


<div class="HowTo">
	<% @steps.each_index do |index| %>


		<% step = @steps[index] %>
		<div class="step-wrapper glowing-border">
			<div class="step">
				<p class="image"><%= image_tag step.photo.url(:medium) %></p>
				<h3 class="step-title">Step <%= index + 1 %> <br></h3>
				<p class="caption"><%= step.caption %></p>
			</div>

		</div>

		<% if index != @steps.size - 1 %>
			<i class="fa fa-chevron-circle-down fa-4x"></i>
		<% end %>

		<br>
	<% end %>
</div>

<div class="created_by">
		<div class="pp_small">
			<%= image_tag @user.profile_picture.url(:small), class: "profile_pic" %>
		</div>
		<p> 
			<%= link_to "#{@howto.user.first_name} #{@howto.user.last_name}", "/user/#{@howto.user.id}/show" %>
		</p>
	</div>


<br><br>


<div class="likes">
	Likes : <%= @likes %>
	<br>
	<% if user_signed_in? %>
		<% if @liked %>
			<%= link_to "unlike", "/unlike/#{@howto.id}", :method => "delete" %>
		<% else %>
			<%= link_to "like", "/like/#{@howto.id}", :method => "put" %>
		<% end %>
	<% end %>
	<br>
	<!-- make this pop out eventually -->
	<%= link_to "show who liked this", "/like/#{@howto.id}/index" %>
</div>

<br><br>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= link_to "Go back to your profile", "/profile" %>
	<% end %>
<% end %>


<br><br><br><br><br><br>
<!-- load attemps -->
<h4> Attempts at this!</h4>
<div class="attempts">
	<% if @attempts.empty? %>
		Noone has attempted this yet! Be the first one! 
	<% else %>
		<% @attempts.each do |attempt| %>
			<%= image_tag attempt.photo.url(:medium) %> <br>
			<%= attempt.caption %> <br>
			<%= link_to "#{attempt.user.first_name} #{attempt.user.last_name}", "/user/#{attempt.user.id}/show" %>
		<% end %>
	<% end %>

	<br>

	<% if user_signed_in? %>
		<%= link_to "Show us your attempt at this!", {:controller => "attempts", :action => "new", :how_to_id => @howto.id } %>
	<% end %>
</div>




<br><br><br><br><br><br>
<!-- Load comments -->

<h3>Comments</h3>
<div class="comments">
	<% @comments.each do |comment| %>
		<p class="info">
			By: 
			<%= link_to "#{comment.user.first_name} #{comment.user.last_name}", "/user/#{comment.user.id}/show" %>
			At: <%= comment.created_at %> <br>

			</p>
		<p clsas="text"><%= comment.text %></p>
		<% if user_signed_in? %>
			<% if comment.user == current_user || current_user.admin %>
				<%= link_to "Delete this comment", "/comment/delete/#{comment.id}", data: { confirm: "Are you sure you want to delete this comment?"} %>
			<% end %>
		<% end %>
		<br><br>
	<% end %>
	
	<!-- only if your logged in though! -->
	<% if user_signed_in? %>
		<p>Add a comment:</p>
		<%= form_for @new_comment, :url => '/comment/create', :method => 'put' do |f| %>
			<%= f.text_area :text %>
			<%= f.hidden_field :user_id, value: current_user.id, :input_html => {:maxlength => 500}  %>
			<%= f.hidden_field :how_to_id, value: @howto.id %>
			<br>
			<%= f.submit "Comment!" %>
		<% end %>
	<% else %>
		<%= link_to "Sign in to comment!", user_session_path %>
	<% end %>
</div>


</div>

<script type="text/javascript">
	$(function() {
	//Below is a path to img folder.
      $.fn.raty.defaults.path = '/assets';  
	//Below will activate Raty on div where class is star.	  
      $('.star').raty({
		half  : true,
	    number: 5,
		score: function() {
		    return $(this).attr('data-score');
		  }
		});

      $('.star').raty({
		  click: function(score, evt) {
		  }

	});
});

</script>
