<div class="container wrapper">
<h3 class="show_title">ADD A STEP</h3>
<%= form_for @step, :url => '/steps/create', :method => 'put', :html => { :multipart => true } do |f| %>

	Attach a photo: 
	<%= f.file_field :photo, :required => true %> <br>
	instructions:
	<%= f.text_area :caption %><br><br>

	<%= f.hidden_field :how_to_id, value: @how_to.id %>

	<%= f.submit "Add another step!", :class => "btn btn-success btn-large" %>
	<%= f.submit "Finished!", :class => "btn btn-success btn-large" %>

<% end %>
</div>