<!DOCTYPE html>
<html>
<head>
	<title>HowTo iX</title>
	<!-- css -->
	<link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">

	<%= favicon_link_tag 'favicon.ico' %>
	<!-- Raty -->
	<script type="text/javascript" src="/assets/jquery.raty.js"></script>
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript" src="/assets/custom.js"></script>


  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'header' %>
</head>
<body>



<%= yield %>
<b>
	<% if flash[:success] %>
		<%= flash[:success] %>
	<% elsif flash[:error] %>
		<%= flash[:error] %>
	<% end %>
</b>


</body>
</html>
